<style>

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

.left {
	float: left;
}

.recipets-list table {
	border-spacing: 0;
	border-collapse: collapse;

	margin-top: 0;
	margin-bottom: 16px;

	display: block;
	width: 100%;
	overflow: auto;
}

.recipets-list table th {
	font-weight: 600;
}

.recipets-list table th, 
.recipets-list table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
	vertical-align: top;
}

.recipets-list table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

.recipets-list table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

.recipets-list .min {
	width: 1%;
    white-space: nowrap;
}

.receipt {
	background: linear-gradient(#f9f9f9, #e3e3e3);
}

code.original {
	background: orange;
}

code.trial {
	background: #00ccff;
	color: white;
}

code.intro {
	background: #99ff66;
}

code.green {
	background: rgb(180, 229, 161);
	color: black;
}

code.red {	
	background: rgb(255, 208, 218);
	color: black;
}

code, tt {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
}

code {
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
	font-size: 12px;
}

.mono {
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

</style>
<body>
<h1><a href="/receipts/history">Receipts</a> / <span class="mono">{{.Uuid}}</span></h1>
<div class="recipets-list">
<table>
	<thead>
		<tr>
			<th>Transaction ID</th>
			<th>Product ID</th>
			<th>Quantity</th>
			<th>Purchase Date</th>
			<th>Expires Date</th>
			<th>Web Order Line Item Id</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{range .ReceiptResponse.Receipt.InApp}}
		<tr>
			<td class="min">
				{{if eq .TransactionId .OriginalTransactionId}}
				<code class="original">{{.TransactionId}}</code>
				{{else}}
				<code>{{.TransactionId}}</code>
				{{end}}
			</td>
			<td class="min"><code>{{.ProductId}}</code></td>
			<td class="min" align="right">
				{{if eq .IsTrialPeriod "true"}}
				<code class="trial left">trial</code>
				{{end}}
				{{if eq .IsInIntroOfferPeriod "true"}}
				<code class="intro left">intro</code>
				{{end}}

				{{.Quantity}}
			</td>
			<td class="min mono">{{.PurchaseDate}}</td>
			<td class="min mono">{{.ExpiresDate}}</td>
			<td class="min"><code>{{.WebOrderLineItemId}}</code></td>
			<td></td>
		</tr>
		{{end}}
	</tbody>
</table>
</div>
</body>