name: main

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: cluster-1
  GKE_ZONE: us-central1-c
  DOCKER_IMAGE: cr.chuhlomin.com/busnj-console
  DEPLOYMENT_NAME: busnj-console
  GOPROXY: https://athens.chuhlomin.com

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15'

      - run: make test
      - run: make vet
      - run: make build-static

      - name: Login to CR
        uses: docker/login-action@v1
        with:
          registry: cr.chuhlomin.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Prepare Docker tags and labels
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ env.DOCKER_IMAGE }}
          tag-sha: true

      - name: Build and push to CR
        uses: docker/build-push-action@v2
        with:
          context: ./cmd/server
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
            ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.GKE_PROJECT }}

      - name: Get the GKE credentials
        uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}
          credentials: ${{ secrets.GKE_SA_KEY }}

      - name: Render template
        id: render_template
        uses: chuhlomin/render-template@v1
        with:
          template: kube.yml
          vars: |
            app: ${{ env.DEPLOYMENT_NAME }}
            image: ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
            domain: console.busnj.chuhlomin.com
            frontend_address: http://busnj-console-ui/
            redis_addr: redis:6379

      - name: Deploy
        timeout-minutes: 4
        run: |-
          echo '${{ steps.render_template.outputs.result }}' | kubectl apply -f -
          kubectl rollout status deployment/$DEPLOYMENT_NAME
